.menu {
    height: 48px;
    min-width: 124px;
    border-radius: 8px;
    background-color: #D8FE6F;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}
.lines {
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: space-between;
    .line1 {
        width: 13px;
        height: 2px;
        background-color: black;
        border-radius: 4px;
    }
    .line2 {
        width: 10px;
        height: 2px;
        background-color: black;
        border-radius: 4px;
    }
    .line3 {
        width: 6px;
        height: 2px;
        background-color: black;
        border-radius: 4px;
    }
}